{% extends 'blog/base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Paulas Foodie Blog</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Paulas Foodie Blog</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                    {% for recipe in recipes %}
                        <div class="recipe">
                            <div class="properties">
                                <p>published: {{ recipe.published_date }}</p>
                                <p>{% if recipe.is_vegan %} Vegan {% else %} &nbsp; {% endif %}</p>
                                <p>{% if recipe.is_veggie %} Vegetarisch {% else %} &nbsp; {% endif %}</p>
                             </div>
                            <h2><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></h2>
                            <p>{{ recipe.instruction|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
